entities:
    person:
        processes:
            create():
                - new('person', number=1)

simulation:
    init:
        - person: [create]
    processes:
        - person: [test_issue]

    input:
        method: void
        file: none

    output:
        # since we don't specify an output file this will not generate an output h5 file
        # unless the issue test provides one
        path: output

    logging:
        level: processes

    start_period: 2018
    periods: 1
