.idea
.settings
.pydevproject
.project
*.pyc
*.pyd
src/cpartition.so
src/cutils.so
src/liam2
src/liam2.egg-info/
doc/usersguide/build/
src/build
src/*.c
tests/functional/error.log
tests/functional/person_*.csv
tests/functional/*.h5
tests/functional/*.png
tests/functional/*.pdf
tests/functional/empty_file.csv
tests/examples/simulation.h5
tests/examples/demography_*.png
tests/examples/error.log
tests/examples/person_*.csv
doc/website/blog
doc/website/objects.inv
doc/website/pages/download.rst
doc/website/pages/documentation.rst
/doc/website/conf.py
