*.egg-info
*.o
*.pyc
*.pyd
*.so

.coverage
.idea
.project
.pydevproject
.settings
.spyderproject
.tags*
.vscode

build/
# for coverage
cover/
dist/
doc/usersguide/build/
experiments/
junk/
liam2/*.c
liam2/build/
liam2/dist/
liam2/tests/functional/*.h5
liam2/tests/functional/output/
liam2/tests/functional/generated/
liam2/tests/examples/simulation.h5
liam2/tests/examples/simple2001.h5
liam2/tests/examples/demo.h5
liam2/tests/examples/output/
liam2/tests/output/
