.idea
.settings
.pydevproject
.project
*.pyc
*.pyd
*.so
*.o
*.egg-info
.spyderproject
doc/usersguide/build/
liam2/build
liam2/*.c
build
liam2/tests/output/error.log
liam2/tests/output/person_*.csv
liam2/tests/output/*.h5
liam2/tests/output/*.png
liam2/tests/output/*.pdf
liam2/tests/output/empty_file.csv
liam2/tests/output/simulation.h5
liam2/tests/output/demography_*.png
doc/website/blog
doc/website/objects.inv
doc/website/pages/download.rst
doc/website/pages/documentation.rst
/doc/website/conf.py
