Documentation
=============

* `Browse the user guide online \
  <http://liam2.plan.be/documentation/{short_version}>`_

* `Download the user guide as PDF \
  <http://liam2.plan.be/download/LIAM2UserGuide-{version}.pdf>`_

* `Download the user guide as Windows Help (.chm) \
  <http://liam2.plan.be/download/LIAM2UserGuide-{version}.chm>`_

  Like all Windows Help files downloaded on the internet, you might need to
  unblock it: right click on the file > properties > unblock.

* `Download the user guide as (zipped) HTML files \
  <http://liam2.plan.be/download/LIAM2UserGuide-{version}-html.zip>`_

* `Our presentation at the third General Conference of the International
  Microsimulation Association (powerpoint)
  <http://liam2.plan.be/download/liam2_stockholm_presentation.pptx>`_
