Download
========

Windows bundles
---------------

* `LIAM2 {short_version} bundle for Windows 32 bit \
  <http://liam2.plan.be/download/LIAM2Suite-{version}.win32.zip>`_ ({size32b})
* `LIAM2 {short_version} bundle for Windows 64 bit \
  <http://liam2.plan.be/download/LIAM2Suite-{version}.win64.zip>`_ ({size64b})

.. note::

   The 64 bit version allows using larger data sets (using more than 2Gb
   of memory) but does not offer any other significant advantage (it can be a
   bit faster or a bit slower than the 32 bit version depending on the
   simulation). It requires a 64 bit version of Windows.

These bundles include:

* The executable for Windows.
* A text editor (Notepad++), pre-configured to work with LIAM2 models.
* The documentation in HTML Help format (.chm). You can find .pdf and .html
  versions on our website.
* A demonstration model with a synthetic data set of 20,200 persons grouped in
  14,700 households.


Source code
-----------

* The source code for LIAM2 is hosted on GitHub. You can browse it and
  follow its development online at: https://github.com/liam2/liam2
* You can also `download the source code for version {short_version} \
  <http://liam2.plan.be/download/LIAM2-{version}-src.zip>`_ ({sizesrc})